<table class="table-fixed w-[100%]">
    <thead class="font-bold bg-slate-200 text-sm">
        <tr>
            <th scope="col" class="border box-border p-2">
                <div class="flex justify-center items-center">
                    <div class="w-full">INV NO.</div>
                    <div>
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                                <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </th>
            <th scope="col" class="border box-border p-2">
                <div class="flex justify-center items-center">
                    <div class="w-full">PHYSICIAN</div>
                    <div>
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                                <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </th>
            <th scope="col" class="border box-border p-2">
                <div class="flex justify-center items-center">
                    <div class="w-full">ISSUED</div>
                    <div>
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                                <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </th>
            <th scope="col" class="border box-border p-2">
                <div class="flex justify-center items-center">
                    <div class="w-full">AMOUNT</div>
                    <div>
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                                <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </th>
            <th scope="col" class="border box-border p-2">
                <div class="flex justify-center items-center">
                    <div class="w-full">STATUS</div>
                    <div>
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                                <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="text-xs">
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1 text-rose-500">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1 text-rose-500">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">PAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1 text-orange-400">PARTIAL</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
        <tr>
            <td class="text-end text-gray-600 border box-border p-1">
                2
            </td>
            <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
            <td class="text-center text-gray-700 border box-border p-1">1961</td>
            <td class="text-end text-gray-700 border box-border p-1">404.20</td>
            <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
        </tr>
    </tbody>
</table>