@page "/patienform"
<div class="flex flex-row items-start justify-start pt-0 px-0 pb-[5px]">
    <h1
        class="m-0 h-[42px] relative text-inherit font-semibold font-inherit inline-block mq450:text-[21px] mq750:text-[28px] text-4xl">
        Patient Form
    </h1>
</div>
<main
    class="self-stretch flex flex-col items-start justify-start gap-[7px] max-w-full text-left text-[20px] text-black font-medium">
    <h1 class="m-0 relative text-inherit font-normal font-inherit mq450:text-base">
        Edit Patient
    </h1>
    <section
        class="self-stretch shadow-[4px_4px_10px_rgba(0,_0,_0,_0.4)] box-border flex flex-col items-start justify-start pt-2.5 pb-[5px] pr-0.5 pl-2 relative gap-[10px] min-h-[682px] max-w-full text-left text-base text-darkgray-100 font-medium border-[1px] border-solid border-inside-color">
        <div
            class="self-stretch flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border max-w-full text-darkgray-200 mq450:gap-[50px]">
            <div class="self-stretch flex flex-col items-start justify-start gap-[10px] max-w-full">
                <div class="flex flex-row items-start justify-start">
                    <div class="relative leading-[24px] font-medium">
                        Physician’s Name
                    </div>
                </div>
                <div
                    class="self-stretch h-12 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] max-w-full border-[1px] border-solid border-stroke">
                    <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt="" src="/public/useralt.svg" />

                    <input
                        class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[250px] max-w-full"
                        placeholder="Appana, Marc" type="text" />
                </div>
            </div>
        </div>
        <div
            class="self-stretch flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border max-w-full mq450:gap-[50px]">
            <div class="self-stretch flex flex-col items-start justify-start gap-[10px] max-w-full">
                <div class="flex flex-row items-start justify-start">
                    <div class="relative leading-[24px] font-medium">
                        Patient’s First Name
                    </div>
                </div>
                <div
                    class="self-stretch h-12 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] max-w-full border-[1px] border-solid border-stroke">
                    <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt="" src="/public/useralt.svg" />

                    <input
                        class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[250px] max-w-full"
                        placeholder="AAAAA" type="text" />
                </div>
            </div>
        </div>
        <div
            class="self-stretch flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border max-w-full mq450:gap-[50px]">
            <div class="self-stretch flex flex-col items-start justify-start gap-[10px] max-w-full">
                <div class="flex flex-row items-start justify-start">
                    <div class="relative leading-[24px] font-medium">
                        Patient’s Last Name
                    </div>
                </div>
                <div
                    class="self-stretch h-12 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] max-w-full border-[1px] border-solid border-stroke">
                    <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt="" src="/public/useralt.svg" />

                    <input
                        class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[250px] max-w-full"
                        placeholder="AAA" type="text" />
                </div>
            </div>
        </div>
        <div
            class="self-stretch flex flex-row flex-wrap items-start justify-start py-0 pr-3 pl-0 box-border gap-[10px] max-w-full">
            <div class="flex-1 flex flex-col items-start justify-start min-w-[276px] max-w-full mq450:gap-[50px]">
                <div class="self-stretch flex flex-col items-start justify-start gap-[10px] max-w-full">
                    <div class="flex flex-row items-start justify-start">
                        <div class="relative leading-[24px] font-medium">
                            Phone Number
                        </div>
                    </div>
                    <div
                        class="self-stretch h-12 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] max-w-full border-[1px] border-solid border-silver">
                        <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt=""
                            src="/public/useralt.svg" />

                        <input
                            class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[233px] max-w-full"
                            placeholder="13812938130812" type="text" />
                    </div>
                </div>
            </div>
            <div class="flex-1 flex flex-col items-start justify-start min-w-[276px] max-w-full mq450:gap-[50px]">
                <div class="self-stretch flex flex-col items-start justify-start gap-[10px] max-w-full">
                    <div class="flex flex-row items-start justify-start">
                        <div class="relative leading-[24px] font-medium">
                            Email Address
                        </div>
                    </div>
                    <div
                        class="self-stretch h-12 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] max-w-full border-[1px] border-solid border-silver">
                        <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt=""
                            src="/public/useralt.svg" />

                        <input
                            class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[233px] max-w-full"
                            placeholder="13132432414" type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div
            class="self-stretch flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border max-w-full mq450:gap-[50px]">
            <div class="self-stretch flex flex-col items-start justify-start gap-[10px] max-w-full">
                <div class="flex flex-row items-start justify-start">
                    <div class="relative leading-[24px] font-medium">
                        Company (optional)
                    </div>
                </div>
                <div
                    class="self-stretch h-12 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] max-w-full border-[1px] border-solid border-stroke">
                    <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt="" src="/public/useralt.svg" />

                    <input
                        class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[250px] max-w-full"
                        placeholder="fgfd" type="text" />
                </div>
            </div>
        </div>
        <div
            class="self-stretch flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border max-w-full mq450:gap-[50px]">
            <div class="self-stretch flex flex-col items-start justify-start gap-[10px] max-w-full">
                <div class="flex flex-row items-start justify-start">
                    <div class="relative leading-[24px] font-medium">Address 1</div>
                </div>
                <div
                    class="self-stretch h-12 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] max-w-full border-[1px] border-solid border-stroke">
                    <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt="" src="/public/useralt.svg" />

                    <input
                        class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[250px] max-w-full"
                        placeholder="31 Francine Drive" type="text" />
                </div>
            </div>
        </div>
        <div
            class="self-stretch flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border max-w-full mq450:gap-[50px]">
            <div class="self-stretch flex flex-col items-start justify-start gap-[10px] max-w-full">
                <div class="flex flex-row items-start justify-start">
                    <div class="relative leading-[24px] font-medium">
                        Address 2 (optional)
                    </div>
                </div>
                <div
                    class="self-stretch h-12 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] max-w-full border-[1px] border-solid border-stroke">
                    <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt="" src="/public/useralt.svg" />

                    <input
                        class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[250px] max-w-full"
                        placeholder="Suite 1000" type="text" />
                </div>
            </div>
        </div>
        <div class="self-stretch flex flex-row flex-wrap items-start justify-start [row-gap:20px]">
            <div
                class="flex-1 flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border min-w-[201px] max-w-[217px]">
                <div class="self-stretch flex flex-col items-start justify-start gap-[10px]">
                    <div class="flex flex-row items-start justify-start">
                        <div class="relative leading-[24px] font-medium">City</div>
                    </div>
                    <div
                        class="self-stretch h-9 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-4 pl-5 gap-[10px] border-[1px] border-solid border-silver">
                        <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt=""
                            src="/public/useralt.svg" />

                        <input
                            class="w-[214px] [border:none] [outline:none] bg-[transparent] h-6 flex flex-row items-center justify-start font-medium text-base text-black"
                            placeholder="North York" type="text" />
                    </div>
                </div>
            </div>
            <div
                class="flex-1 flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border min-w-[201px] max-w-[218px]">
                <div class="self-stretch flex flex-col items-start justify-start gap-[10px]">
                    <div class="flex flex-row items-start justify-start">
                        <div class="relative leading-[24px] font-medium">Country</div>
                    </div>
                    <div
                        class="self-stretch h-9 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-4 pl-5 gap-[10px] border-[1px] border-solid border-silver">
                        <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt=""
                            src="/public/useralt.svg" />

                        <input
                            class="w-[214px] [border:none] [outline:none] bg-[transparent] h-6 flex flex-row items-center justify-start font-medium text-base text-black"
                            placeholder="Canada" type="text" />
                    </div>
                </div>
            </div>
            <div
                class="flex-1 flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border min-w-[201px] max-w-[217px]">
                <div class="self-stretch flex flex-col items-start justify-start gap-[10px]">
                    <div class="flex flex-row items-start justify-start">
                        <div class="relative leading-[24px] font-medium">State</div>
                    </div>
                    <div
                        class="self-stretch h-9 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-4 pl-5 gap-[10px] border-[1px] border-solid border-silver">
                        <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt=""
                            src="/public/useralt.svg" />

                        <input
                            class="w-[214px] [border:none] [outline:none] bg-[transparent] h-6 flex flex-row items-center justify-start font-medium text-base text-black"
                            placeholder="AB" type="text" />
                    </div>
                </div>
            </div>
            <div
                class="flex-1 flex flex-col items-start justify-start py-0 pr-2.5 pl-0 box-border min-w-[201px] max-w-[217px]">
                <div class="self-stretch flex flex-col items-start justify-start gap-[10px]">
                    <div class="flex flex-row items-start justify-start">
                        <div class="relative leading-[24px] font-medium">
                            Postal Code
                        </div>
                    </div>
                    <div
                        class="self-stretch h-9 bg-white-white box-border flex flex-row items-center justify-start py-3 pr-4 pl-5 gap-[10px] border-[1px] border-solid border-silver">
                        <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt=""
                            src="/public/useralt.svg" />

                        <input
                            class="w-[214px] [border:none] [outline:none] bg-[transparent] h-6 flex flex-row items-center justify-start font-medium text-base text-black"
                            placeholder="M2H 2G5" type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div
            class="w-[55px] h-[55px] absolute my-0 mx-[!important] right-[242px] bottom-[-40px] rounded-[5px] overflow-hidden shrink-0 z-[1]">
            <div class="absolute top-[20px] left-[20px] w-[15px] h-[15px]"></div>
        </div>
    </section>
</main>
<div class="mt-2 flex justify-end">
    <div class="pt-1" id="vectorIconContainer">
        <button type="button" class="bg-[#007ace] text-white h-3 w-3 rounded-3xl">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="white" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z" />
            </svg>
        </button>
    </div>
    <div class="pr-5 pt-2 text-xs text-slate-400  ml-2">
        Add Family Member / Dependent
    </div>
    <div class="bg-[#20a8d8] text-center text-xs rounded-sm pt-2 px-2 text-black ml-2">
        <button type="button">Back</button>
    </div>
    <div class="bg-[#084e8a] text-center text-xs rounded-sm pt-2 px-2 text-white ml-1">
        <button type="button"> Save </button>
    </div>

</div>

<div id="inputContainer" style="display: none"
    class=" popup-overlay w-full mt-1 relative bg-white overflow-y-auto flex flex-col items-start justify-start pt-0 px-0 pb-[13px] box-border gap-[20px] text-left text-[10px] text-darkgray font-medium">
    <section
        class="self-stretch flex flex-row items-start justify-between pt-8 pb-[26px] pr-7 pl-10 relative text-left text-[20px] text-black font-medium bg-[#B8E8F9]">
        <div class="relative leading-[24px]" id="dependent1Text">
            Dependent 1
        </div>
        <div class="cursor-pointer">
            <button type="button" class="cursor-pointer z-40 " onclick="hideInputContainer()">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                        d="M6.758 17.243L12.001 12m5.243-5.243L12 12m0 0L6.758 6.757M12.001 12l5.243 5.243" />
                </svg>
            </button>
        </div>
    </section>

    <section
        class="self-stretch flex flex-col items-start justify-start py-0 px-5 text-left text-base text-darkslategray font-medium">
        <div class="self-stretch flex flex-col items-start justify-start gap-[10px]">
            <div class="w-[250px] flex flex-row items-start justify-start">
                <div class="relative leading-[24px] font-medium">
                    Physician’s Name
                </div>
            </div>
            <div
                class="self-stretch h-12 rounded-md bg-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] border-[1px] border-solid border-stroke">
                <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt="" src="/public/useralt.svg" />

                <input
                    class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[250px]"
                    placeholder="Placeholder" type="text" />
            </div>
        </div>
    </section>
    <section
        class="self-stretch flex flex-col items-start justify-start py-0 px-5 text-left text-base text-darkslategray font-medium">
        <div class="self-stretch flex flex-col items-start justify-start gap-[10px]">
            <div class="w-[250px] flex flex-row items-start justify-start">
                <div class="relative leading-[24px] font-medium">
                    Patient’s First Name
                </div>
            </div>
            <div
                class="self-stretch h-12 rounded-md bg-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] border-[1px] border-solid border-stroke">
                <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt="" src="/public/useralt.svg" />

                <input
                    class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[250px]"
                    placeholder="Placeholder" type="text" />
            </div>
        </div>
    </section>
    <section
        class="self-stretch flex flex-col items-start justify-start py-0 px-5 text-left text-base text-darkslategray font-medium">
        <div class="self-stretch flex flex-col items-start justify-start gap-[10px]">
            <div class="w-[250px] flex flex-row items-start justify-start">
                <div class="relative leading-[24px] font-medium">
                    Patient’s Last Name
                </div>
            </div>
            <div
                class="self-stretch h-12 rounded-md bg-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] border-[1px] border-solid border-stroke">
                <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt="" src="/public/useralt.svg" />

                <input
                    class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[250px]"
                    placeholder="Placeholder" type="text" />
            </div>
        </div>
    </section>
    <section
        class="self-stretch flex flex-row items-start justify-start py-0 px-0 text-left text-base text-darkslategray font-medium">
        <div class="flex-1 overflow-x-auto flex flex-row items-start justify-start py-0 px-5 gap-[12px]">
            <div class="w-[414px] flex flex-col items-start justify-start">
                <div class="self-stretch flex flex-col items-start justify-start gap-[10px]">
                    <div class="w-[250px] flex flex-row items-start justify-start">
                        <div class="relative leading-[24px] font-medium">
                            Phone Number
                        </div>
                    </div>
                    <div
                        class="self-stretch h-12 rounded-md bg-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] border-[1px] border-solid border-stroke">
                        <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt=""
                            src="/public/useralt.svg" />

                        <input
                            class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[227px]"
                            placeholder="Placeholder" type="text" />
                    </div>
                </div>
            </div>
            <div class="w-[414px] flex flex-col items-start justify-start">
                <div class="self-stretch flex flex-col items-start justify-start gap-[10px]">
                    <div class="w-[250px] flex flex-row items-start justify-start">
                        <div class="relative leading-[24px] font-medium">
                            Email Address
                        </div>
                    </div>
                    <div
                        class="self-stretch h-12 rounded-md bg-white box-border flex flex-row items-center justify-start py-3 pr-[17px] pl-[19px] gap-[10px] border-[1px] border-solid border-stroke">
                        <img class="h-4 w-4 relative overflow-hidden shrink-0 hidden" alt=""
                            src="/public/useralt.svg" />

                        <input
                            class="w-full [border:none] [outline:none] bg-[transparent] h-6 flex-1 flex flex-row items-center justify-start font-medium text-base text-black min-w-[227px]"
                            placeholder="Placeholder" type="text" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="w-full flex flex-row items-start justify-start py-0 px-5">
        <div class="flex flex-row items-start justify-start gap-[10px]">
            <input class="accent-mediumslateblue m-0 h-5 w-5 relative" checked="{true}" type="checkbox" />

            <div class="relative leading-[24px]">
                <span>Address same as </span>
                <b class="text-black">Primary Member</b>
            </div>
        </div>
    </div>
</div>

<script>
    var vectorIconContainer = document.getElementById("vectorIconContainer");
    if (vectorIconContainer) {
        vectorIconContainer.addEventListener("click", function () {
            var popup = document.getElementById("inputContainer");
            if (!popup) return;
            var popupStyle = popup.style;
            if (popupStyle) {
                popupStyle.display = "flex";
                popupStyle.zIndex = 100;
                popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
                popupStyle.alignItems = "center";
                popupStyle.justifyContent = "center";
            }
            popup.setAttribute("closable", "");

            var onClick =
                popup.onClick ||
                function (e) {
                    if (e.target === popup && popup.hasAttribute("closable")) {
                        popupStyle.display = "none";
                    }
                };
            popup.addEventListener("click", onClick);
        });
    }

    function hideInputContainer() {
        var inputContainer = document.getElementById("inputContainer");
        if (inputContainer.style.display === "none") {
            inputContainer.style.display = "block";
        } else {
            inputContainer.style.display = "none";
        }
    }
</script>
