@page "/patientdetails"

<section
  class="self-stretch flex flex-col items-end justify-start gap-[37px] max-w-full text-left text-[20px] text-black font-body-small-regular mq450:gap-[37px]">
  <div class="self-stretch flex flex-col items-start justify-start gap-[11px]">
    <div class="self-stretch flex flex-row items-end justify-between gap-[20px] mq675:flex-wrap">
      <div class="flex flex-row items-start justify-start gap-[5px]">
        <h1 class="m-0 relative text-inherit font-normal font-inherit mq450:text-base">
          AAAAA, AAAA
        </h1>
        <div class="text-[6px] bg-[#007ace] text-white rounded-sm">
          <div class="">PRIMARY
          </div>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row justify-end gap-[5px] text-[10px] text-white">
        <div class="w-20 bg-[#084e8a] rounded-sm flex py-1 pl-3"><button type="button"> Edit Patient
          </button>
        </div>
        <div class="w-20 bg-[#084e8a] rounded-sm flex py-1 pl-4">
          <button type="button">Add Card</button>
        </div>
      </div>
    </div>
    <div class="flex flex-row border box-border w-[100%] text-sm p-4 text-center drop-shadow-md">
      <div class="flex flex-col w-full">
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Physicial Name:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Address 1:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Address 2:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">City:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">State:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Country:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Postal Code:</div>

        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">Physicial Name</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">sfasfsdfa</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">asdfasfsaf</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">sdafasdfasfd</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">fadsfsadfsaf</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">Counsdfassdaf</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">sdfasfdsa</div>

        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Phone Number:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Email Address:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Company:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Subscription Status:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Dependents:</div>

        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">3412412</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">sdaf@teravault.co</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">Company</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">slfjsffdfsaf</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2 text-blue-800">
          <div class="">Appana, Gloria</div>

        </div>
      </div>
    </div>

  </div>
  <div class="self-stretch flex flex-row items-end mq450:flex-wrap">
    <h2
      class="m-0 w-[146px] relative text-inherit font-normal font-inherit inline-block shrink-0 text-center text-[22px]">
      Invoice History
    </h2>
    <div class="flex flex-row w-full items-end justify-end">
      <div class="bg-[#084e8a] text-center text-white w-20 text-[10px] rounded-sm py-1 font-medium mr-1">
        <button type="button"> Create Invoice</button>
      </div>
      <div class="relative inline-block text-left border box-border">
        <div>
          <button type="button"
            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
            id="menu-button" aria-expanded="true" aria-haspopup="true" onclick="toggleMenu()">
            Export As
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </div>

        <div
          class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="menu">
          <div class="py-1" role="none">
            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" onclick="downloadTable()" role="menuitem"
              tabindex="-1" id="tableID">Export as CSV</a>
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
              id="menu-item-1">Export as PDF</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <MauiBlazor.Components.Tables.SelectTable />
</section>
<div
  class="self-stretch flex flex-row items-center justify-between gap-[20px] text-center text-[13px] mq450:flex-wrap mt-2">
  <div class="flex flex-col items-start justify-start pt-[9px] px-0 pb-0">
    <div class="relative font-semibold">30 Invoices Total: $1,894.91</div>
  </div>
  <div class="flex">
    <div class="pt-2 pl-1 h-8 w-6 box-border border-[1px] border-solid border-stroke rounded-md">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path fill="black"
            d="M11.707 5.293a1 1 0 0 1 0 1.414L7.414 11H19a1 1 0 1 1 0 2H7.414l4.293 4.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0" />
        </svg>
      </button>
    </div>
    <div class="pt-3">
      <h2 class="font-bold">
        ...
      </h2>
    </div>
    <div class="w-6 pt-2 h-8 border border-black rounded-sm bg-[#20a8d8] text-white">
      <button type="button">1</button>
    </div>
    <div class="pt-2 w-6 h-8 border border-black rounded-sm">
      <button type="button">2</button>
    </div>
    <div class="pt-3">
      <h2 class="font-bold">
        ...
      </h2>
    </div>
    <div class="pt-2 w-6 h-8 box-border border-[1px] border-solid border-stroke rounded-md">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 12l-6-6m6 6l-6 6m6-6H5" />
        </svg>
      </button>
    </div>
  </div>
</div>

<MauiBlazor.Components.Script.PatientDetailScript />