@page "/patientdetails"

<section
  class="self-stretch flex flex-col items-end justify-start gap-[37px] max-w-full text-left text-[20px] text-black font-body-small-regular mq450:gap-[37px]">
  <div class="self-stretch flex flex-col items-start justify-start gap-[11px]">
    <div class="self-stretch flex flex-row items-end justify-between gap-[20px] mq675:flex-wrap">
      <div class="flex flex-row items-start justify-start gap-[5px]">
        <h1 class="m-0 relative text-inherit font-normal font-inherit mq450:text-base">
          AAAAA, AAAA
        </h1>
        <div class="text-[6px] bg-[#007ace] text-white rounded-sm">
          <div class="">PRIMARY
          </div>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row justify-end gap-[5px] text-[10px] text-white">
        <div class="w-20 bg-[#084e8a] rounded-sm flex py-1 pl-3"><button type="button"> Edit Patient
          </button>
        </div>
        <div class="w-20 bg-[#084e8a] rounded-sm flex py-1 pl-4">
          <button type="button">Add Card</button>
        </div>
      </div>
    </div>
    <div class="flex flex-row border box-border w-[100%] text-sm p-4 text-center drop-shadow-md">
      <div class="flex flex-col w-full">
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Physicial Name:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Address 1:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Address 2:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">City:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">State:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Country:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Postal Code:</div>

        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">Physicial Name</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">sfasfsdfa</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">asdfasfsaf</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">sdafasdfasfd</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">fadsfsadfsaf</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">Counsdfassdaf</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">sdfasfdsa</div>

        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Phone Number:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Email Address:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Company:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Subscription Status:</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="text-slate-600">Dependents:</div>

        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">3412412</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">sdaf@teravault.co</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">Company</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2">
          <div class="">slfjsffdfsaf</div>

        </div>
        <div class="flex flex-row space-x-20 mb-2 text-blue-800">
          <div class="">Appana, Gloria</div>

        </div>
      </div>
    </div>
    @* <div class="text-xs self-stretch bg-white-white shadow-[2px_4px_4px_rgba(0,_0,_0,_0.25)] overflow-x-auto flex
    flex-row
    py-[13px] pr-[21px] pl-5 gap-[20px] text-3xs">
    <div class="w-[272px] overflow-hidden shrink-0 flex flex-col gap-[8px]">
    <div class="self-stretch flex flex-row items-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Physician Name:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Address 1:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Address 2:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    City:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    State:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Country:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Postal Code:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    </div>
    <div
    class="w-full overflow-hidden shrink-0 flex flex-col items-start justify-start gap-[8px] border border-black">
    <div class="self-stretch flex flex-row items-start justify-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Phone Number:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start justify-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Email Address:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start justify-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Company:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start justify-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Subscription Status:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    <div class="self-stretch flex flex-row items-start justify-start gap-[43px] mq450:gap-[43px]">
    <div class="flex-1 relative leading-[24px] text-slate-600">
    Dependents:
    </div>
    <div class="flex-1 relative leading-[24px]">
    Physician Name:
    </div>
    </div>
    </div>
    </div> *@
  </div>
  <div class="self-stretch flex flex-row items-end justify-between gap-[20px] mq450:flex-wrap">
    <h2
      class="m-0 w-[146px] relative text-inherit font-normal font-inherit inline-block shrink-0 text-center text-[22px]">
      Invoice History
    </h2>
    <div class="bg-[#084e8a] text-center text-white w-20 text-[10px] rounded-sm py-1 font-medium">
      <button type="button"> Create Invoice</button>
    </div>
  </div>

  <table class="table-fixed w-[100%]">
    <thead class="font-bold text-center bg-slate-200 text-sm">
      <tr>
        <th scope="col" class="border box-border p-2">
          <div class="flex justify-center items-center">
            <div class="w-full">INV NO.</div>
            <div>
              <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                  <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                </svg>
              </button>
            </div>
          </div>
        </th>
        <th scope="col" class="border box-border p-2">
          <div class="flex justify-center items-center">
            <div class="w-full">PHYSICIAN</div>
            <div>
              <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                  <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                </svg>
              </button>
            </div>
          </div>
        </th>
        <th scope="col" class="border box-border p-2">
          <div class="flex justify-center items-center">
            <div class="w-full">ISSUED</div>
            <div>
              <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                  <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                </svg>
              </button>
            </div>
          </div>
        </th>
        <th scope="col" class="border box-border p-2">
          <div class="flex justify-center items-center">
            <div class="w-full">AMOUNT</div>
            <div>
              <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                  <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                </svg>
              </button>
            </div>
          </div>
        </th>
        <th scope="col" class="border box-border p-2">
          <div class="flex justify-center items-center">
            <div class="w-full">STATUS</div>
            <div>
              <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 40 40">
                  <path fill="black" d="M4.659 11.833h30.682L20 32.167z" />
                </svg>
              </button>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="text-xs">
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1 text-rose-500">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1 text-rose-500">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">PAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1 text-orange-400">PARTIAL</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
      <tr>
        <td class="text-end text-gray-600 border box-border p-1">
          2
        </td>
        <td class="text-start text-gray-700 border box-border p-1">Malcolm Lockyer</td>
        <td class="text-center text-gray-700 border box-border p-1">1961</td>
        <td class="text-end text-gray-700 border box-border p-1">404.20</td>
        <td class="text-center text-gray-700 border box-border p-1">UNPAID</td>
      </tr>
    </tbody>
  </table>
</section>
<div
  class="self-stretch flex flex-row items-center justify-between gap-[20px] text-center text-[13px] mq450:flex-wrap mt-2">
  <div class="flex flex-col items-start justify-start pt-[9px] px-0 pb-0">
    <div class="relative font-semibold">30 Invoices Total: $1,894.91</div>
  </div>
  <div class="flex">
    <div class="pt-2 pl-1 h-8 w-6 box-border border-[1px] border-solid border-stroke rounded-md">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path fill="black"
            d="M11.707 5.293a1 1 0 0 1 0 1.414L7.414 11H19a1 1 0 1 1 0 2H7.414l4.293 4.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0" />
        </svg>
      </button>
    </div>
    <div class="pt-3">
      <h2 class="font-bold">
        ...
      </h2>
    </div>
    <div class="w-6 pt-2 h-8 border border-black rounded-sm bg-[#20a8d8] text-white">
      <button type="button">1</button>
    </div>
    <div class="pt-2 w-6 h-8 border border-black rounded-sm">
      <button type="button">2</button>
    </div>
    <div class="pt-3">
      <h2 class="font-bold">
        ...
      </h2>
    </div>
    <div class="pt-2 w-6 h-8 box-border border-[1px] border-solid border-stroke rounded-md">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 12l-6-6m6 6l-6 6m6-6H5" />
        </svg>
      </button>
    </div>
  </div>
</div>
